* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 5px;
    background: rgb(220, 247, 166, 0.2);
}

.header {
    padding: 30px;
    text-align: left;
    background: rgb(218, 247, 166, 0.1);
    overflow:auto;
}

.header h1 {
    font-size: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    font-size:12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #777}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: red;
}

.leftcolumn {   
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    /*background-color: rgb(218, 247, 166, 0.3);*/
    padding-left: 20px;
}

.rightcolumn1 {
    float: left;
    width: 25%;
    background-color: white;
    padding-left: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.card {
    border-radius: 25px;
    background-color: rgb(255,255,255, 0.8);
    padding: 20px;
    border: 4px solid rgb(218, 247, 166, 0.9);
    margin-top: 20px;
}

.card2 { 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

a {
    text-decoration: none;
    /*font-size: 22px;*/
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    /*background: rgb(218, 247, 166, 0.1);*/
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .rightcolumn1, .card1, div.background {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    li a, div.background {
        float: none;
        width: 100%;
    }
}

.img1 {
	float:right;
}

#googleMap {
  width: 100%;
  height:100vh;
  top:1vh;
}

#googleMap img {
  width: 100%;
  height:100vh;
  top:1vh;
  opacity:0.8;
}

#mapholder {
  width: 100%;
  height:100vh;
  top:1vh;
}

div.background {
  background: url(download.jpg) 15vh no-repeat;
}

div.transbox {
    	border-radius: 25px;
  	margin: 30px;
  	background-color: #ffffff;
  	opacity: 0.8;
	border: 6px solid rgb(218, 247, 166, 0.9);
    	box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.4);
  	filter: alpha(opacity=80); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}